<app-progressbar *ngIf="loading"></app-progressbar>
<div *ngIf="!loading" class="row mt-2">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">{{ operacion }} producto</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="addProduct()">
          <input formControlName="name" type="text" class="form-control" placeholder="Nombre Producto">
          <span *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">El campo nombre es requerido</span>
          <input formControlName="description" type="text" class="form-control mt-2" placeholder="Description">
          <span *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched">El campo descripcion es requerido</span>
          <input formControlName="price" type="number" class="form-control mt-2" placeholder="Precio">
          <span *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched" >El campo precio es requerido</span>
          <input formControlName="stock" type="number" class="form-control mt-2" placeholder="Stock">
          <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched">El campo stock es requerido</span>

          <div class="row mt-2 text-center ">
            <div class="col-lg-6 mt2">
              <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
            </div>
            <div class="col-lg-6 mt2">
              <button routerLink="/" type="button" class="btn btn-secondary">Volver</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
